<div class="p-grid p-justify-center p-align-center p-mt-5">
  <div class="p-col-10 p-md-6 p-lg-4">
    <h1 class="p-text-center p-text-danger">{{title}}</h1>
    <h1 class="p-text-center p-text-muted">There was an error</h1>
  </div>
</div>

<div class="p-grid p-justify-center p-mt-3">
  <div class="p-col-10 p-md-6 p-lg-4">
    <p-footer>
      <button pButton type="button" label="Go Back to Homepage" icon="pi pi-arrow-left" routerLink="/home" class="p-button p-component"></button>
    </p-footer>
  </div>
</div>
