<main class="form-signin">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <div class="p-field">
      <label for="email">Email address</label><br>
      <input id="email" formControlName="email" type="email" pInputText placeholder="name@example.com">
    </div>

    <br><div class="p-field">
      <label for="password">Password</label><br>
      <input id="password" formControlName="password" type="password" pInputText placeholder="Password">
    </div><br>

    <button class="p-button p-component" type="submit" label="Submit">Login</button>
  </form>
</main>
