<div>
  <div *ngFor="let category of orderedCategories">
    <h1>{{category}}</h1>
    <p-carousel [value]="categoryValues[category]" [numVisible]="5" [autoplayInterval]="25000" [numScroll]="size/5" [circular]="true">
      <ng-template let-product pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
          <div class="mb-3">
            <img [src]="product.image_url" [alt]="product.name" class="w-6 shadow-2" />
          </div>
          <div>
            <a [routerLink]="['/product', product.id]"><h4 class="mb-1">{{ product.name }}</h4></a>
            <h6 class="mt-0 mb-3">{{ product.price + ' €'}}</h6>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
